body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.products .slick-list {margin: 0 -1rem;}
.products .slick-slide>div {padding: 0 1rem;}

.slick-dots li button:before {
    color: orange;
  }

