body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.products .slick-list {margin: 0 -1rem;}
.products .slick-slide>div {padding: 0 1rem;}

.slick-dots li button:before {
    color:  #FFF!important;
    opacity: .25;
    
  }

.slick-dots li.slick-active button:before {
    color:  #F8475F!important;
    
}

.slick-dots{
    bottom:1rem!important;
}

